<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
     <link rel="stylesheet" th:href="@{/resources/css/eCommerce.css}" />
     <script type="text/javascript" th:src="@{/resources/js/script.js}"></script>
  <title>List of Products</title>
</head>

<body>

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Unusual</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-6">
            <li class="nav-item">
              <a class="nav-link active" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/products}">Products</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" th:href="@{/product/create}">Add Product</a></li>
                <li><a class="dropdown-item" th:href="@{/user/form}">Add User</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
              </ul>
            </li>
          </ul>
          
        </div>
      </div>
     <a  th:text="${user.firstName} +'s'" th:href="@{/show/cart}">User</a>
    </nav>




<h1 th:text="${user.firstName} +' cart'">User</h1>
<div class="col-sm-7">
        <div class="list-group-item list-group-item-success" role="alert" th:text="${success}" th:if="${success}"></div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Color</th>
      <th scope="col">Price</th>
      <th></th>
      <th scope="col">Qty</th>
      <th></th>
       <th scope="col">Photo</th>
        <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="mapEntry: ${cart}">
        <td th:text="${mapEntry.key.name}"></td>
         <td th:text="${mapEntry.key.color}"></td>
          <td th:text="${mapEntry.key.price}+' mkd'"></td>
          <td ><a type="button" class="btn btn-secondary btn-sm" th:href="@{/add/page/{id}(id=${mapEntry.key.id})}">+</a>
          
          </td>
        <td th:text=${mapEntry.value}></td>
        <td><a type="button" class="btn btn-secondary btn-sm" th:href="@{/remove/{id}(id=${mapEntry.key.id})}">-</a></td>
          <td >
           <div class="img-hover-zoom img-hover-zoom--xyz">
           <img th:src="*{'data:image/png;base64,'+{mapEntry.key.photo}}" alt="${product.name}" style="width:80px;height:80px;">
           </div>
          </td>
         
			<td th:text="${mapEntry.value}*${mapEntry.key.price}+' mkd'"></td>
    </tr>
    <div>
  	</div>
  </tbody>
</table>
  	<h1 th:text="'Total sum is : '+   ${total} + ' mkd'"></h1>



      
      </div>


    </div>
  </div>


	
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
  </script>
</body>

</html>