<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div th:insert="/fragments/header :: head"></div>
    <title>Document</title>
</head>
<body>
    <div th:insert="/fragments/header :: header"></div>
    
    <div class="container">
  <div class="row">
    <div class="col-sm">
	<div>
	<br>
	<br>
	<h1 align="center">ABOUT US</h1>
	<br>
	<br>
	
	<p>What is Lorem Ipsum?</p>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

Why do we use it?
It is a long established fact that a reader will be distracted by the readable content of a page.
</p>
	
	</div>     

    </div>
    <div class="col-sm">
    <br>
	<br>
    <h1 align="center">Where to find US</h1>
    <br>
	<br>
     <div class="mapouter"><div class="gmap_canvas"><iframe width="400" height="400" id="gmap_canvas" src="https://maps.google.com/maps?q=Vinica&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-to.org">123movies</a><br><style>.mapouter{position:relative;text-align:right;height:400px;width:400px;}</style><a href="https://google-map-generator.com">embed google map</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:400px;width:400px;}</style></div></div>
    </div>
    <div class="col-sm">
    <br>
	<br>
      <h1 align="center">Contact Us</h1>
    <br>
	<br>
    <div align="center">
    <form  th:action="@{/contact}" method="post"  style="max-width: 600px; margin: 0 auto;">
    	<div class="form-group">
    		<label for="fullName"  class="col-sm-4 col-form label">Full Name</label>
    			<div class="col-sm-8">
    				<input type="text" name="fullname" class="form=control" required="required" maxlength="45">
    			</div>
  	 	 </div>
  	 	 <div class="form-group-row">
    		<label for="email" class="col-sm-4 col-form label">Email</label>
    			<div class="col-sm-8">
    				<input type="email" name="email" class="form=control" required="required" maxlength="45">
    			</div>
  	 	 </div>
    		<div class="form-group-row">
    		<label for="subject" class="col-sm-4 col-form label">Subject</label>
    			<div class="col-sm-8">
    				<input type="text" name="subject" class="form=control" required="required" maxlength="45">
    			</div>
  	 	 	</div>
  	 	 	<div class="form-group-row">
    		<label for="content" class="col-sm-4 col-form label">Content</label>
    			<div class="col-sm-8">
					<textarea name="content" rows="5" cols="25" required="required"></textarea>
    			</div>
  	 	 	</div>
  	 	 	<div>
				<input type="submit" value="send" class="btn btn-primary">   	 	 	
  	 	 	</div>
    
    </form>
    
    </div>
    </div>
  </div>
</div>
    
    
   
		
		
    
    <th:block th:insert="/fragments/header :: footer"></th:block>
    <th:block th:insert="/fragments/header :: scripts"></th:block>
</body>
</html>