<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div th:insert="/fragments/header :: head"></div>
    <title>Document</title>
</head>
<body>

<body>
    <nav>
        <div class="logo">
            <img src="logo.svg" alt="Logo Image">
        </div>
        <div class="hamburger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <ul class="nav-links">
            <li><a th:href="@{/}">Home</a></li>
            <li><a class=" dropdown-toggle"  role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Products</a>
            <div class="dropdown-menu new" aria-labelledby="dropdownMenuLink">
    			<a class="dropdown-item" th:href="@{/products}">Products</a>
    			<a class="dropdown-item" href="#">Sale</a>
  				  <a class="dropdown-item" th:href="@{/product/create}">Create product</a>
  			</div>
            </li>
            <li><a th:href="@{/}">About Us</a></li>
            <li><a th:href="@{/contact}">Contact Us</a></li>
            <li><a th:if="${user!=null}" th:text="${user.firstName}"  class=" dropdown-toggle login-button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					  </a>
					  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
					    <a class="dropdown-item" href="#">Cart</a>
					    <a class="dropdown-item" th:href="@{/history}">Orders</a>
					    <a class="dropdown-item" th:href="@{/logout}">Logout</a>
					  </div>
					  
					  <a th:unless="${user!=null}"   data-toggle="modal" data-target="#exampleModalCenter">
			Login
			</a>
			
			<!-- Modal -->
			<div class="modal fade "  tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			  <div class="modal-dialog modal-dialog-centered" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			        
				  <div class="modal-body">
                   <form th:action="@{/login}" method="post">
    <div th:if="${param.error}">
      <div class="alert alert-danger">Invalid username or
       password.</div>
     </div>
     <div th:if="${param.logout}">
      <div class="alert alert-info">You have been logged out.</div>
     </div>
    <div class="form-group">
    <label for="username">* Email</label>
    <input type="text" id="username" name="username" class="form-control"
       autofocus="autofocus" placeholder="Username" />
     </div>
     <div class="form-group">
      <label for="password">Password</label> 
      <input type="password" id="password" name="password" class="form-control"
       placeholder="Password" />
     </div>
      <div class="form-group">
      <div class="row">
       <div class="col-sm-6 col-sm-offset-3">
        <input type="submit" name="login-submit" id="login-submit"
         class="form-control btn btn-primary" value="Log In" />
       </div>
      </div>
     </div>
     
     </form>
                </div>
                <div class="form-group">
      <span>New user? <a href="/" th:href="@{/signUpForm}">Register
        here</a></span>
     </div>



			      </div>
			      
			    </div>
			  </div>
			</div>
 </li>
            <li>
            		<a href="#" th:if="${cart!=null && #maps.size(cart)!=null && #maps.size(cart)!=0}"  id="cart"  ><i class="fa fa-shopping-cart"></i> Cart <span th:text="${#maps.size(cart)}" class="badge"></span></a>
      <div class="shopping-cart" >
        <div class="shopping-cart-header">
          <i class="fa fa-shopping-cart cart-icon"></i><span class="badge" th:if="${cart!=null && #maps.size(cart)!=null && #maps.size(cart)!=0}" th:text="${#maps.size(cart)}"></span>
          <div class="shopping-cart-total">
            <span class="lighter-text">Total:</span>
            <span class="main-color-text total" th:text="${total} + ' mkd'"></span>
          </div>
        </div> <!--end shopping-cart-header -->

        <ul class="shopping-cart-items" >
          <li class="clearfix" th:if="${cart!=null && #maps.size(cart)!=null}"  th:each="mapEntry: ${cart}" >
            <img th:src="*{'data:image/png;base64,'+{mapEntry.key.product.photoFront}}" />
            <span class="item-name" th:text="${mapEntry.key.product.name}"></span>
            <span class="item-detail" th:text="${mapEntry.key.color.displayValue}"></span>
            <span class="item-detail" th:text="${mapEntry.key.size.displayValue}"></span>
            <span class="item-price" th:text="${mapEntry.key.product.price}+' mkd'"></span>
            <span class="item-quantity" th:text="'Quantity : '+${mapEntry.value}"></span>
          </li>


        <a th:href="@{/show/cart}" class="button">Checkout <i class="fa fa-chevron-right"></i></a>
      </div>
            
            
            </li>
        </ul>
        
        
          <!-- Button trigger modal -->
<button type="button" class="desen" data-toggle="modal" data-target="#exampleModalCenter">
 .                                 .
</button>


        
    </nav>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


  <!-- Site footer -->
    <div class="blackfooter">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify">Scanfcode.com <i>CODE WANTS TO BE SIMPLE </i> is an initiative  to help the upcoming programmers with the code. Scanfcode focuses on providing the most efficient code or snippets as the code wants to be simple. We will help programmers build up concepts in different programming languages that include C, C++, Java, HTML, CSS, Bootstrap, JavaScript, PHP, Android, SQL and Algorithm.</p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Categories</h6>
            <ul class="footer-links">
              <li><a href="http://scanfcode.com/category/c-language/">T-Shirts</a></li>
              <li><a href="http://scanfcode.com/category/front-end-development/">Jackets</a></li>
              <li><a href="http://scanfcode.com/category/back-end-development/">Skirts</a></li>
              <li><a href="http://scanfcode.com/category/java-programming-language/">Pants</a></li>
              <li><a href="http://scanfcode.com/category/android/">Underpants</a></li>
              <li><a href="http://scanfcode.com/category/templates/">Dresses</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
         <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by 
         <a href="#">CODE ACADEMY</a>.
            </p>
          </div>
        </div>
      </div>
</div>


    
    <th:block th:insert="/fragments/header :: scripts"></th:block>
</body>
</html>