<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div th:insert="/fragments/header :: head"></div>
    <title>Document</title>
</head>
<body>
    <div th:insert="/fragments/header :: header"></div>
    
    
    
    
    
     <div class = "row col-sm-10">
     <div class = "row col-sm-2">
     Total Rows: [[${totalItems}]]
     </div>
     
     
     <div class = "row col-sm-2">
        <a th:if="${currentPage > 1}" th:href="@{'/pag/' + ${currentPage - 1}+ ${search != null ? '?search=' + search : ' ' }}">Previous</a>
<span th:unless="${currentPage > 1}">Previous</span>
        
     
     </div>
     
     <div class = "row col-sm-2">
        <span th:each="i: ${#numbers.sequence(1, totalPages)}">
           <a th:if="${currentPage != i}" th:href = "@{'/pag/' + ${i}+ ${search != null ? '?search=' + search : ' ' }}">[[${i}]]</a>
           <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
        </span>
     
     </div>
     
     <div class = "row col-sm-2">
     
     <a th:if="${currentPage < totalPages}" th:href="@{'/pag/' + ${currentPage + 1} + ${search != null ? '?search=' + search : ' ' }}">Next</a>
         <span th:unless="${currentPage < totalPages}">Next</span> &nbsp; &nbsp;
     </div>
     
     
    
    <div class = "row col-sm-2">
     
     <a th:if="${currentPage < totalPages}" th:href="@{'/pag/' + ${totalPages}+ ${search != null ? '?search=' + search : ' ' }}">Last</a>
         <span th:unless="${currentPage < totalPages}">Last</span> &nbsp; &nbsp;
     </div>
    
    </div>
 
 </div >
    
    
    <th:block th:insert="/fragments/header :: scripts"></th:block>
</body>
</html>