@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,500,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font: 14px/22px "Ubuntu", Arial, sans-serif;
  overflow-x: hidden;
}

.lighter-text {
  color: #ABB0BE;
}

.main-color-text {
  color: #00c0cb;
}

nav2 {
  padding: 20px 0 40px 0;
  background: #ffffff;
  font-size: 16px;
}
nav2 .navbar-left2 {
  float: left;
}
nav2 .navbar-right2 {
  float: right;
  position: relative;
}
nav2 a {
  display: inline;
  padding-left: 20px;
  color: #777777;
  text-decoration: none;
}
nav2 a:hover {
  color: black;
}

.navbar2 {
  border-top: 1px solid #fff;
  background: url("https://www.qispackaging.com.au/App_Themes/QISPackaging/Images/bg-nav-rep-x.jpg") repeat-x;
  height: 43px;
}

.container2 {
  margin: auto;
  width: 80%;
}

#addtocart {
  width: 250px;
}

.badge {
  background-color: red;
  border-radius: 10px;
  color: white;
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  padding: 3px 7px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

.shopping-cart {
  background: white;
  width: 320px;
  position: absolute;
  top: 30px;
  right: -10px;
  border-radius: 3px;
  padding: 20px;
  overflow: hidden;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  opacity: 0;
  -webkit-transform-origin: right top 0;
  -webkit-transform: scale(0);
  transform-origin: right top 0;
  transform: scale(0);
  z-index: 999999;
}
.shopping-cart.active {
  opacity: 1;
  -webkit-transform-origin: right top 0;
  -webkit-transform: scale(1);
  transform-origin: right top 0;
  transform: scale(1);
}
.shopping-cart .shopping-cart-header {
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 15px;
}
.shopping-cart .shopping-cart-header .shopping-cart-total {
  float: right;
}
.shopping-cart .shopping-cart-items {
  padding-top: 20px;
}
.shopping-cart .shopping-cart-items li {
  margin-bottom: 18px;
}
.shopping-cart .shopping-cart-items img {
  float: left;
  margin-right: 12px;
  max-width: 70px;
  max-height: 70px;
}
.shopping-cart .shopping-cart-items .item-name {
  display: block;
  font-size: 16px;
}
.shopping-cart .shopping-cart-items .item-detail {
  display: block;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.shopping-cart .shopping-cart-items .item-price {
  color: #00c0cb;
  margin-right: 8px;
}
.shopping-cart .shopping-cart-items .item-quantity {
  color: #ABB0BE;
}

.shopping-cart:after {
  bottom: 100%;
  left: 89%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: white;
  border-width: 8px;
  margin-left: -8px;
}

.cart-icon {
  color: #515783;
  font-size: 24px;
  margin-right: 7px;
  float: left;
}

.button {
  background: #f8770c;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  display: block;
  border-radius: 3px;
  font-size: 16px;
  margin: 25px 0 15px 0;
  text-transform: uppercase;
}
.button:hover {
  background: #f87f1b;
}
.button i {
  padding-left: 5px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


.flip-card {
	margin:4px;
  background-color: transparent;
  width: 200px;
  height: 200px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  z-index: 10;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
	
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color:transparent;
  color: black;
   z-index: 10;
}

/* Style the back side */
.flip-card-back {
	background-color: #ffffff;
  color: #42423e;
  transform: rotateY(180deg);
}
.img-hover-zoom--point-zoom img {
  transform-origin: 65% 75%;
  transition: transform 1s, filter .5s ease-out;
}

/* The Transformation */
.img-hover-zoom--point-zoom:hover img {
  transform: scale(5);
}
.img-hover-zoom {
  height: 80px; /* [1.1] Set it as per your need */
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform .3s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
	 height: 180px;
  transform: scale(2);
}
button2 {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}


.inputs {
  display: none;
}

.foo:checked + .inputs {
  display: initial;
}



*{
    margin: 0;
    padding: 0;
    color: #808080;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
}
/* body{ */
/*     overflow-x: hidden; */
/* } */
nav{
    height: 6rem;
    width: 100vw;
    background-color: rgb(247, 247, 249);
    box-shadow: 0 3px 20px rgb(215, 217, 223);
    display: flex;
    z-index: 10;
}

/*Styling logo*/
.logo{
    padding:1vh 1vw;
    text-align: center;
}
.logo img {
    height: 5rem;
    width: 5rem;
}

/*Styling Links*/
.nav-links{
	
    display: flex;
    list-style: none; 
    width: 88vw;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
}
.nav-links li a{
	
	color:#808080;
    text-decoration: none;
    margin: 0 0.7vw;
}
.nav-links li a:hover {
    color: #61DAFB;
}
.nav-links li {
    position: relative;
}
.nav-links li a::before {
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    background-color: #61DAFB;
    position: absolute;
    transition: all ease-in-out 250ms;
    margin: 0 0 0 10%;
}
.nav-links li a:hover::before{
    width: 80%;
}

/*Styling Buttons*/
.login-button{
    background-color: transparent;
    border: 1.5px solid #808080;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    margin-left: 2vw;
    font-size: 1rem;
    cursor: pointer;

}
.login-button:hover {
    color: #131418;
    background-color: #f2f5f7;
    border:1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
}
.join-button{
    color: #131418;
    background-color: #61DAFB;
    border: 1.5px solid #61DAFB;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    font-size: 1rem;
    cursor: pointer;
}
.join-button:hover {
    color: rgb(255, 0, 0);
    background-color: transparent;
    border:1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
}

/*Styling Hamburger Icon*/
.hamburger div{
    width: 30px;
    height:3px;
    background: rgb(0, 0, 0);
    margin: 5px;
    transition: all 0.3s ease;
}
.hamburger{
    display: none;
}

/*Stying for small screens*/
@media screen and (max-width: 800px){
    nav{
        position: fixed;
        z-index: 3000;
    }
    .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    .nav-links{
        position: fixed;
        background: rgb(150, 154, 171);
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.7s;
    }
    .nav-links li:nth-child(5){
        transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(6){
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    .nav-links li:nth-child(7){
        transition: all 0.5s ease 1s;
        margin: 0;
    }
    li.fade{
        opacity: 1;
    }
}
/*Animating Hamburger Icon on Click*/
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    transition: all 0.7s ease;
    width:0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}
desen{
	color:  rgb(150, 154, 171);
	width: 60px
	
}
/* default list style css */
ul{
    margin: 0px;
    padding: 0px;
  	}

	ul li{
	list-style: none;
    }

/* main footer css */
#primary-footer{
	background-color:#ebebeb;
	}

	.footer-widget-area{
		padding: 50px 0;
	}

/* main footer inner css */

.footer-widget-area p{
		font-size: 20px;
	}

	.footer-widget-area li{
		margin-top: 10px;
	}

	.footer-widget-area li a{
		font-size: 20px;
		color: var(--black);
	}

	.footer-widget-area li a:hover{
	 text-decoration: none;
	 color: #00d07e;
	}

	.footer-widget-heading h4{
		font-weight: bold;
		font-size: 25px;
	}

.linkediting .fa{
    	color: #21bf73;
    }


.footer-social-icon .social-title{
    	font-size: 20px;
    	font-weight: bold;
    	margin-bottom: 10px;
}

	.circle-icon {
    background: #ccf6c8;
    color: #21bf73;
    padding:12px;
    border-radius: 50%;
    margin-left: 5px;
    height: 40px;
    width: 40px;
    text-align: center;
}

/* footer credit css */

.copyright-area{
	background-color: #edf7fa;
	padding: 20px 0;
    }

    .copyright-text p{
    	font-size: 18px;
    }

    .copyright-text a{
    	color: #21bf73;
    	font-weight: 600;
    }

    .footer-menus li{
    	display: inline-flex;
    	margin-left: 20px;
    }

    .footer-menus li a {
 	 font-size: 18px;
 	 color: var(--black);
	}


/*media quries*/

	@media (max-width: 1199.98px) {

	}

	@media (max-width: 991.98px) {
       .footer-social-icon span{
     	font-size: 14px;
     }
	}

	@media (max-width: 767.98px) {
        .copyright-text p{
    	text-align:center;
     	}

     	.footer-menus ul{
    	 text-align:center;
    	}

    	.footer-social-icon span{
     	font-size: 18px;
     }
	}

	@media (max-width: 575.98px) {
		
		.footer-widget-area{
		padding: 0 20px;
		}

		.copyright-text p{
    	text-align:center;
    	font-size:16px;
     	}

     	.footer-menus ul{
    	 text-align:center;
    	}

    	.footer-menus ul li a{
    	 font-size:16px;
    	}
    	
	}
	
	ful{
	opacity: inherit;
	}
	
	.ful ul {
	
  position:relative;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  display:flex;
  margin:0px;
  padding:0;
}

.ful ul li {
  list-style:none;
  margin:10px;
}

.ful ul li a .fa {
	
  font-size: 80px;
  color: #262626;
  line-height:80px;
  transition: .5s;
  padding-right: 14px;
}

.ful ul li a span {
	
  padding:0;
  margin:0;
  position:absolute;
  top: 30px;
  color: #262626;
  letter-spacing: 4px;
  transition: .5s;
}

.ful ul li a {
  text-decoration: none;
  display:absolute;
  display:block;
  width:110px;
  height:80px;
  background: #fff;
  text-align:left;
  padding-left: 20px;
  transform: rotate(-30deg) skew(25deg) translate(0,0);
  transition:.5s;
  box-shadow: -20px 20px 10px rgba(0,0,0,.5);
}
.ful ul li a:before {
	
  content: '';
  position: absolute;
  top:10px;
  left:-20px;
  height:100%;
  width:20px;
  background: #b1b1b1;
  transform: .5s;
  transform: rotate(0deg) skewY(-45deg);
}
.ful ul li a:after {
  content: '';
  position: absolute;
  bottom:-20px;
  left:-10px;
  height:20px;
  width:100%;
  background: #b1b1b1;
  transform: .5s;
  transform: rotate(0deg) skewX(-45deg);
}

.ful ul li a:hover {
  transform: rotate(-30deg) skew(25deg) translate(20px,-15px);
  box-shadow: -50px 50px 50px rgba(0,0,0,.5);
}

.ful ul li:hover .fa {
  color:#fff;
}

.ful ul li:hover span {
  color:#fff;
}

.ful ul li:hover:nth-child(1) a{
  background: #3b5998;
}
.ful ul li:hover:nth-child(1) a:before{
  background: #365492;
}
.ful ul li:hover:nth-child(1) a:after{
  background: #4a69ad;
}

.ful ul li:hover:nth-child(2) a{
  background: #00aced;
}
.ful ul li:hover:nth-child(2) a:before{
  background: #097aa5;
}
.ful ul li:hover:nth-child(2) a:after{
  background: #53b9e0;
}

.ful ul li:hover:nth-child(3) a{
  background: #dd4b39;
}
.ful ul li:hover:nth-child(3) a:before{
  background: #b33a2b;
}
.ful ul li:hover:nth-child(3) a:after{
  background: #e66a5a;
}

.ful ul li:hover:nth-child(4) a{
  background: #e4405f;
}
.ful ul li:hover:nth-child(4) a:before{
  background: #d81c3f;
}
.ful ul li:hover:nth-child(4) a:after{
  background: #e46880;
}

